* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

html {
    overflow: scroll;
    overflow-x: hidden;
}

 ::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}


/*  -----------------Navigation -------------------------------*/


/* New Navigation */

.logo img {
    height: 100px;
}


/* .logo {
        /* flex: 1; */

nav {
    background: rgb(161, 6, 6);
    padding: 20px 20px;
    color: #fff;
    box-shadow: 0px 0px 10px #000;
}

nav ul li a {
    color: #fff;
    letter-spacing: 1px;
    font-weight: 400;
}

.nav-items li a {
    padding: 0 25px;
}

nav ul {
    display: flex;
    list-style: none;
    /* flex-wrap: wrap; */
    justify-content: space-around;
    align-items: center;
    padding: 0px 170px;
}

.nav-items {
    padding: 0 35px;
    display: inline-flex;
}

.nav-items a {
    text-decoration: none;
    font-size: 18px;
    padding: 0 12px;
}

.nav-items a:hover {
    color: #000;
    transition: .3s ease-in;
}

.nav-right {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.nav-right li {
    margin: 0 20px;
}

.search-box {
    height: 38px;
    width: 240px;
    display: flex;
    background: #f4f4f4;
    border-radius: 5px;
}

.search-box input {
    height: 100%;
    width: 200px;
    border: none;
    outline: none;
    padding: 0 10px;
    color: #000;
    border: 1px solid #000;
    border-radius: 5px 0 0 5px;
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.search-box .icon {
    height: 100%;
    width: 40px;
    line-height: 40px;
    text-align: center;
    background: #000;
    border-radius: 0 5px 5px 0;
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.search-box .icon:hover {
    background: rgb(161, 6, 6);
    ;
}

.search-box .icon span {
    color: #fff;
    font-size: 18px;
}

button {
    padding: 9px 25px;
    background-color: rgb(161, 6, 6);
    border: 2px solid #000;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: #fff;
    letter-spacing: 1px;
}

button:hover {
    transform: scale(0.97);
    transition: .2s ease-in;
}

.user .fas {
    font-size: 20px;
    color: #000;
}

.log-user {
    position: absolute;
    right: -6%;
}

nav ul li.btn {
    font-size: 26px;
    flex: 1;
    padding: 0 40px;
    display: none;
}

nav ul li.btn span {
    text-align: center;
    height: 42px;
    width: 42px;
    padding: 0;
    line-height: 42px;
    border: 1px solid rgb(161, 6, 6);
    ;
    border-radius: 5px;
    cursor: pointer;
}

li.btn span.show:before {
    content: '\f00d';
}

@media screen and (max-width: 1052px) {
    nav {
        padding: 10px 40px 10px 0px;
        box-shadow: none;
    }
    .logo {
        display: none;
    }
    .nav-items {
        flex: 4;
    }
    .nav-button,
    .log-user {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    nav ul li.btn {
        display: block;
    }
    nav {
        z-index: 1;
        padding: 9px 40px 40px 0;
    }
    nav ul .nav-items {
        z-index: -1;
        position: fixed;
        top: -360px;
        background-color: rgb(161, 6, 6);
        width: 100%;
        right: 0;
        display: inline-block;
        transition: top .4s;
    }
    nav ul .nav-items.show {
        top: 70px;
    }
    .nav-items li {
        text-align: center;
        line-height: 50px;
        margin: 50px 0;
    }
    .nav-items li a {
        text-align: center;
    }
}


/*  ------------ Navigation end----------- */


/*-------------- Banner Area--------------------------- */

.banner {
    display: flex;
    justify-content: space-around;
    z-index: -100;
}

.banner-text {
    position: relative;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    z-index: -100;
}

.hero-buttons {
    position: absolute;
    top: 60%;
    left: 8.5%;
}

.hero-buttons p {
    padding: 20px 0;
    font-style: italic;
    text-align: left;
    font-size: 24px;
    padding-left: 15px;
}

.hero-btn {
    width: 150px;
    display: inline-block;
    text-align: left;
    margin: 0 10px;
    padding: 12px 0;
    color: #000;
    border: 1px solid #000;
    border-radius: 4px;
    z-index: 1;
    transition: color 0.5s;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    overflow: hidden;
}

.hero-btn a {
    margin-top: 50px;
}

.hero-btn:hover {
    background: #a30305;
    cursor: pointer;
    color: #fff;
    transition: .5s ease-in-out;
}

.bg-img img {
    height: 900px;
}


/* ----------------------About section --------------*/

#about {
    background-color: #a30305;
    height: 100vh;
    width: 100%;
}

.img-box img {
    height: 200px;
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

#login {
    background-color: #8f333f;
    height: 100vh;
    width: 100%;
}

#contact {
    background-color: #3a2427;
    height: 100vh;
    width: 100%;
}

.section-title {
    text-align: center;
    padding-top: 30px;
    font-size: 50px;
    color: #fff;
    letter-spacing: 1px;
    text-transform: uppercase;
}

footer {
    width: 100%;
    height: 50px;
    background-color: #000;
}

footer p {
    text-align: center;
    color: #fff;
    font-size: 18px;
}


/* --------------------------Media Queries----------------- */

@media screen and (max-width: 992px) {
    .bg-img img {
        display: none;
    }
}