        * {
            box-sizing: border-box;
            font-family: 'Montserrat', sans-serif;
            margin: 0;
            padding: 0;
        }
        
        html {
            overflow: scroll;
            scroll-behavior: smooth;
            overflow-x: hidden;
        }
        
         ::-webkit-scrollbar {
            width: 0px;
            background: transparent;
        }
        /*  -----------------Navigation -------------------------------*/
        /* New Navigation */
        
        .logo img {
            height: 100px;
        }
        /* .logo {
        /* flex: 1; */
        
        nav {
            background: #A71212;
            padding: 20px 20px;
            color: #F1FAEE;
            box-shadow: 0px 0px 10px #000;
        }
        
        nav ul li a {
            color: #F1FAEE;
            letter-spacing: 1px;
            font-weight: 400;
        }
        
        .nav-items li a {
            padding: 0 25px;
        }
        
        nav ul {
            display: flex;
            list-style: none;
            /* flex-wrap: wrap; */
            justify-content: space-around;
            align-items: center;
            padding: 0px 170px;
        }
        
        .nav-items {
            padding: 0 35px;
            display: inline-flex;
        }
        
        .nav-items a {
            text-decoration: none;
            font-size: 18px;
            padding: 0 12px;
        }
        
        .nav-items a:hover {
            color: #000;
            transition: .3s ease-in;
        }
        
        .nav-right {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
        }
        
        .nav-right li {
            margin: 0 20px;
        }
        
        .search-box {
            height: 38px;
            width: 240px;
            display: flex;
            color: #F1FAEE;
            border-radius: 5px;
        }
        
        .search-box input {
            height: 100%;
            width: 200px;
            border: none;
            outline: none;
            padding: 0 10px;
            color: #000;
            border: 1px solid #000;
            border-radius: 5px 0 0 5px;
            box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
        }
        
        .search-box .icon {
            height: 100%;
            width: 40px;
            line-height: 40px;
            text-align: center;
            background: #000;
            border-radius: 0 5px 5px 0;
            box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
        }
        
        .search-box .icon:hover {
            background: #A71212;
            ;
        }
        
        .search-box .icon span {
            color: #F1FAEE;
            font-size: 18px;
        }
        
        button {
            padding: 9px 25px;
            background-color: #A71212;
            border: 1px solid #Fff;
            border-radius: 50px;
            cursor: pointer;
            transition: all 0.3s ease 0s;
            color: #fff;
            letter-spacing: 1px;
        }
        
        button:hover {
            transform: scale(0.97);
            transition: .2s ease-in;
        }
        
        .user .fas {
            font-size: 20px;
            color: #fff;
        }
        
        .log-user {
            position: absolute;
            right: -6%;
        }
        
        nav ul li.btn {
            font-size: 26px;
            flex: 1;
            padding: 0 40px;
            display: none;
        }
        
        nav ul li.btn span {
            text-align: center;
            height: 42px;
            width: 42px;
            padding: 0;
            line-height: 42px;
            /* border: 1px solid rgb(161, 6, 6); */
            border-radius: 5px;
            cursor: pointer;
            padding-top: 20px;
        }
        
        li.btn span.show:before {
            content: '\f00d';
        }
        
        @media screen and (max-width: 1052px) {
            nav {
                padding: 10px 40px 10px 0px;
                box-shadow: none;
            }
            .logo {
                display: none;
            }
            .nav-items {
                flex: 4;
            }
            .nav-button,
            .log-user {
                display: none;
            }
            .nav-right {
                padding-top: 20px;
            }
        }
        
        @media screen and (max-width: 800px) {
            nav ul li.btn {
                display: block;
            }
            nav {
                z-index: 1;
                padding: 5px 40px 40px 0;
            }
            nav ul .nav-items {
                z-index: 1;
                position: fixed;
                top: -380px;
                background-color: #A71212;
                width: 100%;
                right: 0;
                display: inline-block;
                transition: top .4s;
            }
            nav ul .nav-items.show {
                top: 70px;
            }
            .nav-items li {
                text-align: center;
                line-height: 50px;
                margin: 50px 0;
            }
            .nav-items li a {
                text-align: center;
            }
        }
        /*  ------------ Navigation end----------- */
        /*-------------- Banner Area--------------------------- */
        
        .banner {
            display: flex;
            justify-content: space-around;
            /* z-index: 100; */
        }
        
        .banner-text {
            position: relative;
            padding-bottom: 100px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: column;
            /* z-index: 10; */
        }
        
        .banner-img {
            position: relative;
            z-index: -100;
        }
        
        .hero-buttons {
            position: absolute;
            top: 60%;
            left: 8.5%;
        }
        
        .hero-buttons p {
            padding: 20px 0;
            font-style: italic;
            text-align: left;
            font-size: 24px;
            padding-left: 15px;
        }
        
        .hero-btn {
            width: 150px;
            display: inline-block;
            text-align: left;
            margin: 0 10px;
            padding: 12px 0;
            color: #000;
            border: 1px solid #000;
            border-radius: 4px;
            z-index: 1;
            transition: color 0.5s;
            text-align: center;
            text-decoration: none;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-weight: 700;
            overflow: hidden;
            box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
        }
        
        .hero-btn a {
            margin-top: 50px;
        }
        
        .hero-btn:hover {
            background: #A71212;
            cursor: pointer;
            color: #fff;
            transition: .5s ease-in-out;
        }
        
        .bg-img img {
            height: 900px;
        }
        /* ----------------------About section --------------*/
        
        #about {
            background-color: #A71212;
            height: 100vh;
            width: 100%;
        }
        
        .img-box img {
            height: 600px;
            filter: drop-shadow(-7px 2px 7px #000);
        }
        
        .title {
            text-align: center;
            position: relative;
            padding-top: 50px;
            font-size: 50px;
            text-transform: uppercase;
            font-weight: 500;
            letter-spacing: 1px;
            color: #000;
        }
        
        .title::after {
            content: '';
            position: absolute;
            display: block;
            left: 44%;
            bottom: -10px;
            width: 10%;
            height: 20%;
            height: 3px;
            background-color: #000;
        }
        
        .wrapper {
            color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .about-info {
            margin-left: 80px;
        }
        
        .about-info p {
            font-size: 18px;
            font-weight: 300;
            line-height: 30px;
            letter-spacing: 1px;
            text-align: justify;
        }
        /* ----------------------About section End --------------*/
        /* -------------Menu Section----------------------- */
        
        #menu {
            background-color: #f4f4f4;
            height: 130vh;
            overflow: hidden;
        }
        
        .menu-wrapper {
            padding-top: 100px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 1em;
            align-items: center;
            text-align: center;
        }
        
        .menu-box {
            margin: 0 20px;
            height: 100%;
            padding: 40px 10px 20px 10px;
            border-radius: 5px;
        }
        
        .menu-box img {
            height: 230px;
            width: 230px;
            filter: drop-shadow(5px 5px 10px #000);
        }
        
        .menu-box p {
            color: #000;
            font-size: 22px;
            font-weight: 500;
            letter-spacing: 1px;
            padding-top: 10px;
            text-align: center;
        }
        
        .menu-button {
            text-align: center;
            padding-top: 100px;
        }
        
        .menu-btn {
            width: 150px;
            display: inline-block;
            text-align: center;
            margin: 0 10px;
            padding: 12px 0;
            color: #000;
            border: 1px solid #000;
            border-radius: 4px;
            z-index: 1;
            transition: color 0.5s;
            text-align: center;
            text-decoration: none;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-weight: 700;
            overflow: hidden;
            box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
        }
        
        .menu-btn:hover {
            background: #a30305;
            cursor: pointer;
            color: #fff;
            transition: .4s ease-in-out;
        }
        /*------------------- Best Sellers ------------*/
        
        .popular .box-container {
            display: grid;
            grid-template-columns: repeat(3, 2fr);
            grid-auto-flow: row;
            gap: 1em;
            padding-top: 50px;
            margin: 0 20px;
        }
        
        .box {
            padding: 16px;
            background: #fff;
            box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
            border: 1px solid #000;
            border-radius: 5px;
            text-align: center;
            position: relative;
        }
        
        .popular .box-container .box img {
            height: 200px;
            object-fit: cover;
            width: 100%;
            border-radius: .5rem;
        }
        
        .box h3 {
            color: #333;
            font-size: 20px;
            padding-top: 1rem;
        }
        
        .popular .box-container .box .stars i {
            color: gold;
            font-size: 16px;
            padding: 1rem .1rem;
        }
        /* ---------------Best seller end ---------------*/
        /* Test */
        
        #overlay {
            position: absolute;
            display: none;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 2;
            cursor: pointer;
            background: linear-gradient(180deg, #A71212, #000);
            mix-blend-mode: multiply;
            opacity: 1;
            transition: 0.5s;
        }
        
        #text {
            position: absolute;
            display: none;
            top: 50%;
            left: 50%;
            font-size: 20px;
            color: #fff;
            transform: translate(-50%, -50%);
            z-index: 2;
            font-size: 14px;
            width: 80%;
            text-align: justify;
            line-height: 25px;
        }
        /* Test end */
        /* ------------------Order Form---------------*/
        
        .order form {
            max-width: 90rem;
            border-radius: .5rem;
            box-shadow: var(--box-shadow);
            border: .1rem solid rgba(0, 0, 0, .2);
            background: #fff;
            padding: 1.5rem;
            margin: 0 auto;
        }
        
        .order form .inputBox {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        
        .order form .inputBox .input {
            width: 49%;
        }
        
        .order form .inputBox .input span {
            display: block;
            padding: .5rem 0;
            font-size: 1.5rem;
            color: var(--light-color);
        }
        
        .order form .inputBox .input input,
        .order form .inputBox .input textarea {
            background: #eee;
            border-radius: .5rem;
            padding: 1rem;
            font-size: 1.6rem;
            color: var(--black);
            text-transform: none;
            margin-bottom: 1rem;
            width: 100%;
        }
        
        .order form .inputBox .input input:focus,
        .order form .inputBox .input textarea:focus {
            border: .1rem solid var(--green);
        }
        
        .order form .inputBox .input textarea {
            height: 20rem;
            resize: none;
        }
        
        .order form .btn {
            margin-top: 0;
        }
        /*------------------ Order Form -------------------*/
        /*------------- Best Sellers End----------- */
        /* -------------Menu Section End----------------------- */
        
        #contact {
            background-color: #A71212;
            height: 100vh;
            width: 100%;
        }
        
        .contact-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
        .contact-info p {
            color: #fff;
            font-size: 18px;
            font-weight: 300;
            line-height: 30px;
            letter-spacing: 1px;
            text-align: justify;
        }
        
        .contact-info {
            margin-left: 80px;
        }
        
        .contact-img-box {
            height: 600px;
            filter: drop-shadow(-7px 2px 7px #000);
        }
        
        .section-button {
            text-align: center;
        }
        
        .section-btn {
            width: 150px;
            display: inline-block;
            text-align: center;
            margin: 0 10px;
            padding: 12px 0;
            color: #000;
            background-color: #f4f4f4;
            border: 1px solid #000;
            border-radius: 4px;
            z-index: 1;
            transition: color 0.5s;
            text-align: center;
            text-decoration: none;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-weight: 700;
            overflow: hidden;
            box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
        }
        
        .section-btn:hover {
            background: #a30305;
            cursor: pointer;
            color: #f4f4f4;
            transition: .4s ease-in-out;
            border: 1px solid #f4f4f4;
        }
        /*------------------- footer---------------------- */
        /*----------- Individual Pages ---------*/
        /* ------------Contact Page ---------*/
        
        .contact {
            height: 100%;
            width: 100%;
            position: relative;
        }
        
        .card-holder {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            padding-top: 40px;
        }
        
        .card {
            margin: 50px;
            padding: 10px;
            width: 400px;
            background-color: #A71212;
            box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
            color: #000;
            border-radius: 4px;
            box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
        }
        
        .card img {
            display: block;
            width: 100%;
            height: 600px;
            width: 700px;
            padding-right: 250px;
            filter: drop-shadow(-2px 1px 1px #fff);
        }
        
        .card-info {
            padding: 15px 0 10px;
            text-align: center;
            background-color: #f4f4f4;
            width: 100%;
            border: 1px solid #000;
            border-radius: 3px;
        }
        
        .card-info h3 {
            margin-bottom: 3px;
            font-size: 18px;
            font-weight: 500;
        }
        
        .card-info span {
            margin-bottom: 15px;
            color: #000;
            font-size: 16px;
            font-weight: 400;
            letter-spacing: 1px;
        }
        
        .card-info a {
            text-decoration: none;
            color: #fff;
            margin: 0 15px;
            transition: ease 0.5s;
        }
        
        .card-info .fab {
            padding-top: 20px;
            font-size: 20px;
            color: #000;
        }
        
        .card-info .fab:hover {
            color: #A71212;
        }
        
        .contact-text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-top: 50px;
        }
        
        .contact-text h2 {
            font-size: 30px;
        }
        
        .contact-text p {
            width: 50%;
            padding: 20px 0px;
            line-height: 28px;
            letter-spacing: 1px;
            text-align: justify;
        }
        /* ---------------------contact Form ---------------*/
        
        #contact h1 {
            text-align: center;
        }
        
        .form-container {
            width: -50%;
            padding: 20px;
            position: relative;
            margin-bottom: 50px;
        }
        
        .contact-form {
            margin-top: 50px;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }
        
        .form-control {
            -webkit-border-radius: 0;
            border-radius: 0;
            -webkit-box-shadow: none;
            box-shadow: none;
        }
        
        .form-control {
            width: 600px;
            background: transparent;
            border: none;
            outline: none;
            border-bottom: 1px solid #A71212;
            font-size: 18px;
            margin-bottom: 16px;
            color: #000;
        }
        
        #input {
            height: 95px;
            color: #000;
        }
        
        form .submit {
            background: #A71212;
            border-color: transparent;
            color: #000;
            font-size: 18px;
            font-weight: 400;
            height: 48px;
            width: 20%;
            margin-top: 20px;
            text-transform: capitalize;
            padding: 12px 20px;
            text-decoration: none;
            letter-spacing: 2px;
            font-size: 20px;
            margin-top: 20px;
            border-radius: 5px;
            box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
        }
        
        form .submit:hover {
            transform: scale(0.97);
            cursor: pointer;
            transition: ease-in .1s;
        }
        /* contact Form end*/
        /* -----------Contact Page End ----------------*/
        /* ---------------Menu Page------------------- */
        
        .menu {
            background-color: #f4f4f4;
            height: 100vh;
            overflow: hidden;
        }
        
        .menu-wrapper {
            padding-top: 100px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 1em;
            align-items: center;
            text-align: center;
        }
        
        #menu-box {
            margin: 0 20px;
            height: 100%;
            padding: 40px 10px 20px 10px;
            border-radius: 5px;
        }
        
        #menu-box img {
            height: 130px;
            width: 130px;
            filter: drop-shadow(5px 5px 10px #000);
        }
        
        #menu-box p {
            color: #000;
            font-size: 22px;
            font-weight: 500;
            letter-spacing: 1px;
            padding-top: 10px;
            text-align: center;
        }
        /* ----------------Menu Page End ----------------*/
        /* -------------Individual Pages End --------*/
        
        footer {
            width: 100%;
            height: 350px;
            background-color: #f4f4f4;
        }
        
        .footer-wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            margin: 0px 40px;
        }
        
        .foot-title {
            padding: 10px 0;
            text-align: center;
            font-size: 20px;
            font-weight: 500;
            letter-spacing: 1px;
        }
        
        .footer-app li {
            list-style: none;
            padding: 5px;
            letter-spacing: 2px;
            color: #000;
            font-weight: 400;
        }
        
        .footer-app a {
            text-decoration: none;
            color: #000;
        }
        
        .footer-app .fab {
            color: #000;
            font-size: 20px;
            padding: 0 15px 0 0;
        }
        
        .footer-contact {
            padding-top: 50px;
        }
        
        .footer-contact li {
            list-style: none;
        }
        
        .footer-contact a {
            text-decoration: none;
        }
        
        .footer-contact li a {
            color: #000;
            letter-spacing: 1px;
            font-size: 16px;
            font-weight: 400;
        }
        
        .link {
            padding: 4px;
            text-align: center;
        }
        
        .link a:hover {
            color: #a30305;
            transition: .2s ease;
        }
        
        .form-box {
            margin: 5px 0 0 0;
            padding: 8px;
            border-radius: 3px;
            background: #a30305;
            box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
        }
        
        .form-box input {
            font-size: 16px;
            color: #000;
            padding: 10px;
            border: none;
            outline: none;
            background: #f4f4f4;
            border-radius: 5px;
        }
        
        .form-box #submit {
            color: #fff;
            padding: 6px;
            font-size: 14px;
            border: none;
            background: #a30305;
            cursor: pointer;
            transition: .3s;
        }
        
        .form-box #submit:hover {
            background: #000;
        }
        
        .footer-social {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding-top: 50px;
            margin-right: 4%;
        }
        
        .socials li {
            list-style: none;
        }
        
        .socials a {
            text-decoration: none;
        }
        
        .fab {
            color: #000;
            font-size: 16px;
            padding: 14px;
        }
        
        .socials {
            display: flex;
        }
        /* --------------------------Media Queries----------------- */
        
        @media screen and (max-width: 992px) {
            .bg-img img {
                display: none;
            }
            /* About section */
            .wrapper {
                color: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            }
            .about-info {
                margin: 0px 30px;
                padding-top: 50px;
            }
            .about-info p {
                font-size: 14px;
            }
            .img-box img {
                height: 400px;
                text-align: center;
            }
            .title {
                font-size: 40px;
            }
            /* Menu Section */
            .menu-wrapper {
                padding-top: 100px;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-gap: .5em;
                align-items: center;
                text-align: center;
            }
            .menu-box img {
                height: 150px;
                width: 150px;
                filter: drop-shadow(5px 5px 10px #000);
            }
            /* contact Section */
            .contact-wrapper {
                color: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            }
            .contact-info {
                margin: 0px 30px;
                padding-top: 50px;
            }
            .contact-info p {
                font-size: 14px;
                font-weight: 300;
                line-height: 30px;
                letter-spacing: 1px;
                text-align: justify;
            }
            .img-box img {
                height: 400px;
                text-align: center;
            }
            footer {
                height: 100%;
            }
            .footer-wrapper {
                flex-direction: column-reverse;
                margin: 0 0px;
                text-align: center;
            }
        }